In [1]:
import pandas as pd
df = pd.read_csv('../data/cleaned_dataset/cleaned_data.csv')
df.tail()

        Score                                            Summary
247492      5  if its all natural this is like panacea of spi...
247493      5                       very large ground spice jars
247494      5                                will not do without
247495      5                           perfect for our maltipoo
247496      5                 favorite training and reward treat

In [2]:
# Check available scores
print("Unique Score values:", df['Score'].unique())
print(df['Score'].value_counts())

Unique Score values: [5 1 4 3 2]
Score
5    149552
4     38874
1     22998
3     21723
2     14350
Name: count, dtype: int64

Taking more samples until balanced dataset becomes 2000+ samples per Score.

In [6]:
# Step 1: Take first 15,000 samples as balanced dataset
balanced_df = df.iloc[:100000]
# Step 2: Take the remaining samples as imbalanced dataset
imbalanced_df = df.iloc[100000:]

In [7]:
# Step 2: Save the balanced dataset
balanced_df.to_csv("../data/balanced_dataset/balanced.csv", index=False)
print("✅ Saved balanced.csv with shape:", balanced_df.shape)

✅ Saved balanced.csv with shape: (100000, 2)

In [8]:
# Step 3: Remove balanced samples from the main dataset to create imbalanced
remaining_df = df.drop(balanced_df.index)
remaining_df.to_csv("../data/imbalanced_dataset/imbalanced.csv", index=False)
print("✅ Saved imbalanced.csv with shape:", remaining_df.shape)

✅ Saved imbalanced.csv with shape: (147497, 2)