In [1]:
import pandas as pd
df = pd.read_csv('../data/extended_dataset/Reviews.csv')
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

View & Inspect the Data

In [2]:
# Preview first rows
print(df.head())

# Check last rows
print(df.tail())

# Data summary (column names, types, missing values)
print(df.info())

# Summary statistics for numeric columns
print(df.describe())

   Id   ProductId          UserId                      ProfileName  \
0   1  B001E4KFG0  A3SGXH7AUHU8GW                       delmartian
1   2  B00813GRG4  A1D87F6ZCVE5NK                           dll pa
2   3  B000LQOCH0   ABXLMWJIXXAIN  Natalia Corres "Natalia Corres"
3   4  B000UA0QIQ  A395BORC6FGVXV                             Karl
4   5  B006K2ZZ7K  A1UQRSCLF8GW1T    Michael D. Bigham "M. Wassir"

   HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  \
0                     1                       1      5  1303862400
1                     0                       0      1  1346976000
2                     1                       1      4  1219017600
3                     3                       3      2  1307923200
4                     0                       0      5  1350777600

                 Summary                                               Text
0  Good Quality Dog Food  I have bought several of the Vitality canned d...
1      Not as Advertised  Product arrived labeled as Jumbo Salted Peanut...
2  "Delight" says it all  This is a confection that has been around a fe...
3         Cough Medicine  If you are looking for the secret ingredient i...
4            Great taffy  Great taffy at a great price.  There was a wid...
            Id   ProductId          UserId              ProfileName  \
568449  568450  B001EO7N10  A28KG5XORO54AY         Lettie D. Carter
568450  568451  B003S1WTCU  A3I8AFVPEE8KI5                R. Sawyer
568451  568452  B004I613EE  A121AA1GQV751Z            pksd "pk_007"
568452  568453  B004I613EE   A3IBEVCTXKNOH  Kathy A. Welch "katwel"
568453  568454  B001LR2CU2  A3LGQPJCZVL9UC                 srfell17

        HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  \
568449                     0                       0      5  1299628800
568450                     0                       0      2  1331251200
568451                     2                       2      5  1329782400
568452                     1                       1      5  1331596800
568453                     0                       0      5  1338422400

                                   Summary  \
568449                 Will not do without
568450                        disappointed
568451            Perfect for our maltipoo
568452  Favorite Training and reward treat
568453                         Great Honey

                                                     Text
568449  Great for sesame chicken..this is a good if no...
568450  I'm disappointed with the flavor. The chocolat...
568451  These stars are small, so you can give 10-15 o...
568452  These are the BEST treats for training and rew...
568453  I am very satisfied ,product is as advertised,...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568428 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB
None
                  Id  HelpfulnessNumerator  HelpfulnessDenominator  \
count  568454.000000         568454.000000            568454.00000
mean   284227.500000              1.743817                 2.22881
std    164098.679298              7.636513                 8.28974
min         1.000000              0.000000                 0.00000
25%    142114.250000              0.000000                 0.00000
50%    284227.500000              0.000000                 1.00000
75%    426340.750000              2.000000                 2.00000
max    568454.000000            866.000000               923.00000

               Score          Time
count  568454.000000  5.684540e+05
mean        4.183199  1.296257e+09
std         1.310436  4.804331e+07
min         1.000000  9.393408e+08
25%         4.000000  1.271290e+09
50%         5.000000  1.311120e+09
75%         5.000000  1.332720e+09
max         5.000000  1.351210e+09

Handle Missing Data

In [3]:
print(df.isnull().sum())

Id                         0
ProductId                  0
UserId                     0
ProfileName               26
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

View datas

In [11]:
df = df[['Score', 'Summary']]
df.head()

   Score                                     Summary
0      5                       good quality dog food
1      1                           not as advertised
2      4                         delight says it all
6      5  great just as good as the expensive brands
7      5                       wonderful tasty taffy

Drop Unnecessary Columns/Rows

In [5]:
df = df.dropna(subset=['Score', 'Summary'])

Remove Duplicates

In [6]:
df = df.drop_duplicates()

View missing datas

In [7]:
print(df.isnull().sum())

Score      0
Summary    0
dtype: int64

In [8]:
import re

def clean_text(text):
    text = str(text).lower()                    # lowercase
    text = re.sub(r'http\S+', '', text)        # remove URLs
    text = re.sub(r'[^a-z0-9\s]', '', text)    # remove special characters
    text = re.sub(r'\s+', ' ', text).strip()   # remove extra spaces
    return text

In [9]:
df['Summary'] = df['Summary'].apply(clean_text)

remove columns with less than 3 words

In [10]:
df = df[df['Summary'].apply(lambda x: len(x.split()) >= 3)]

In [21]:
df.to_csv("../data/cleaned_dataset/cleaned_data.csv", index=False)